/* 
colors: https://coolors.co/802392-995fa3-9a98b5-a0b9c6-a5f8d3
    #802392 dark magenta    // headings
    #995fa3 purpureus       // game border
    #9a98b5 cool gray       // game board
    #a0b9c6 pewter blue     // buttons
    #a5f8d3 magic mint      // snake
*/

body {
    display: grid;
    grid-template-columns: 100px auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "hd hd hd"
        "sd game gc"
        "ft ft ft";
    gap: 5px;
    height: 90vh; /* sets height of grid to 90% of the vertical height (vh) */
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.game {
    grid-area: game;
}

.game-content {
    grid-area: gc;
}

.footer {
    grid-area: ft;
}

header, footer, aside, main {
    padding: 20px;
}

h1, h2, h3 {
    color: #802392;
}

i {
    color: #a0b9c6;
    font-size: 2.5em;
}

.on{
    background: #a5f8d3;
}       

.board {
    display: grid;
    grid-template-columns: repeat(30,20px);
    grid-template-rows: repeat(30,20px);
}

.boardCell {
    padding: 2px;
    text-align: center;
    font-size: .5em;
    background-color: #9a98b5;
}