/* 
colors: https://coolors.co/802392-995fa3-9a98b5-a0b9c6-a5f8d3
    #802392 dark magenta    // headings
    #995fa3 purpureus       // game border
    #9a98b5 cool gray       // game board
    #a0b9c6 pewter blue     // buttons
    #a5f8d3 magic mint      // snake
*/

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "hd hd"
        "game sd"
        "ft ft";
    gap: 5px;
    height: 90vh; /* sets height of grid to 90% of the vertical height (vh) */
    font-family: 'Architects Daughter', cursive;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.game {
    grid-area: game;
}

.footer {
    grid-area: ft;
}

header, footer, aside, main {
    padding: 20px;
}

h1, h2, h3 {
    color: #802392;
}

button {
    margin: 4px 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(30,20px);
    grid-template-rows: repeat(30,20px);
}

.on {
    background: #a5f8d3;
}       

/* sets background color of game board when 'on' class not applied */
.bg {
    background: #9a98b5;
}

.boardCell {
    padding: 0;
    text-align: center;
    font-size: .3em;
}

.content {
    display:grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "bt bt"
        "arr sp"
        "ins ins"
        "ts ts";
    row-gap: 40px;
}

.buttons-main {
    grid-area: bt;
}

.buttons-arrows {
    grid-area: arr;
}

.instructions {
    grid-area: ins;
}

.top-scores {
    grid-area: ts;
}

.spacer {
    grid-area: sp;
}